<!-- left begin -->
<div class="col s3">
    <div>
        <ul>
            <li>Play</li>
            <li>Top Players</li>
            <li>F.A.Q</li>
            <li>Game history</li>
            <li>Giveaway</li>
            <li>Referral</li>
            <li>Store</li>
            <li>Settings</li>
            <li>
                <a target="view_window" href="/users/oauth/steam">Login</a>
            </li>
        </ul>
    </div>
</div>
<!-- left end -->
