<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <%- include ./includes/head.ejs %>
    </head>
    <body>
        <%- include ./includes/header.ejs %>

        <div class="container">
            <div class="row">
                <%- body %>
            </div>
        </div>
    </body>
</html>
